<div class="main"></div>
    <div class="form">
      <form action="/answer" data-turbo="false">
        <input type="text" name="q">
        <input type="submit" value="Ask!">
      </form>
    </div>
</div>
